@media (max-width: 1000px) {
  #wpadminbar { border-left:10px solid red !important; }
  
  .section {
    padding:10px;
  }
  .rings {
    right: 90px;
  }
}

@media (max-width: 922px) {
  .leftContact {
    float: none;
    width: 100%;
  }
  .phoneBreak {
    display: none;
  }
  .rightContact {
    width: 60%;
    margin-left: 5%;
  }
  .footerContact {
    width: 65%;
    margin-left: 10%;
  }


}

@media (max-width: 875px) {
  .img-container img {
    display: none;
  }

  .event-heading {
    width: 100%;
  }
  .menu {
    width: 85%;
    margin: 0 auto;
  }
  .menuWrap ul li a {
    padding: 5px 20px;
    margin: 0 38px;
  }
}

@media (max-width: 790px) {
  #wpadminbar { border-left:10px solid green !important; }

  .left, .sidebar {
    width:100%;
    clear:both;
  }
  .menu {
    width: 100%;
  }

  .hero {
    padding:10px;
  }

  .homeColumn {
    width:100%;
  }
}

@media (max-width: 675px) {
  .menuWrap ul li a {
    padding: 1px;
  }

  h1, h2, h3, .event-heading {
    padding: 10px 0;
    font-size: 35px;
  }

  .light-body {
    width: 96%;
    padding: 5px;
    margin: 2% auto;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .welcome {
    font-size: 20px;
  }
  .event-images {
    width: 50%;
  }

  .cred img {
    width: 20%;
  }
  .footerContact {
    margin-left: 4%;
    font-size: 20px;
  }
  .footerContact .fa {
    padding-top: 14px;
  }
}

@media (max-width: 533px) {
  .menuWrap ul li a {
    font-size: 18px;
  }
  .menu ul li a:hover:after {
    bottom: 3px;
  }
  .menu ul li a:after {
    bottom: 3px;
  } 
}

@media (max-width: 508px) {
  h1, h2, h3, .event-heading {
    padding: 3px 0 0;
  }
  .leftContact {
    padding: 0;
    font-size: 20px;
  }
  .event-images {
    float: none;
    width: 70%;
    margin: 0 auto;
  }
  .light-body {
    width: 98%;
    padding: 2px;
    margin: 1% auto;
  }
}


@media (max-width: 480px) {
  #wpadminbar { border-left:10px solid yellow !important; }
  

  .hero h1 {
    font-size: 25px;
  }
  h1, h2, h3, .event-heading {
    font-size: 25px;
  }

  .dividerSmall {
    padding: 6px 0;
  }

  .welcome {
    font-size: 17px;
  }
  .hero h3 {
    font-size: 20px;
  }
  .footerContact {
    float: none;
    margin-left: 20%;
  }
  .cred {
    top: 0;
    left: 0;
  }
  .cred img {
    width: 30%;
  }
  .leftContact {
    font-size: 16px;
  }
  .rightContact {
    margin: 0;
    font-size: 15px;
  }

  .menuWrap ul li a {
    margin: 0 20px;
  }
  .footerContact {
    width: 80%;
  }

}

@media (max-width: 345px) {
  .logo{
    font-size: 20px;
  }

  .rightContact {
    width: 80%;
    font-size: 12px;
  }
  .footerContact {
    width: 90%;
    margin-left: 3%;
  }
}