@media (max-width: 1000px) {
  #wpadminbar { border-left:10px solid red !important; }
  
  .section {
    padding:10px;
  }
  .rings {
    right: 90px;
  }
}

@media (max-width: 922px) {
  .leftContact {
    float: none;
    width: 100%;
  }
  .footerContact {
    width: 65%;
    margin-left: 10%;
  }


}

@media (max-width: 875px) {
  .img-container img {
    display: none;
  }
  .menuWrap ul li a {
    padding: 7px 20px;
    margin: 3px 38px;
  }
}

@media (max-width: 768px) {
  #wpadminbar { border-left:10px solid green !important; }

  .left, .sidebar {
    width:100%;
    clear:both;
  }
  .menuWrap ul li a {

  }

  .hero {
    padding:10px;
  }

  .homeColumn {
    width:100%;
  }
}

@media (max-width: 675px) {
  .menuWrap ul li a {
    padding: 5px;
    margin: 3px 30px;
  }
}

@media (max-width: 600px) {
  .menuWrap ul li a {
  }
  .cred img {
    width: 20%;
  }
  .footerContact {
    margin-left: 4%;
    font-size: 20px;
  }
  .footerContact .fa {
    padding-top: 14px;
  }
}


@media (max-width: 508px) {
  .menuWrap ul li a {
    font-size: 20px;
    padding: 5px 0;
  }
}

@media (max-width: 480px) {
  #wpadminbar { border-left:10px solid yellow !important; }

  .hero h1 {
    font-size: 25px;
  }

  .hero h3 {
    font-size: 20px;
  }
  .footerContact {
    float: none;
    margin-left: 20%;
  }
  .cred {
    top: 0;
    left: 0;
  }
  .cred img {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .menuWrap ul li a {
    margin: 3px 20px;
  }
  .footerContact {
    width: 80%;
  }

}